

/* body {
  /* background: url("C:\Users\admin\sp-finance\src\assets\new wallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
   */
/* } */

.navbar {
background-color: white;
  height: 80px;
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); 

}

/* Page Title */
/* .mb-4 {
  font-family: sans-serif;
  font-size: 40px;
  color: white; 
}  */

/* Login Card */
.card {
  background-color: rgba(255, 255, 255, 0.15); /* transparent white */
  backdrop-filter: blur(8px); /* glassmorphism effect */
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 20px 20px 32px rgba(0, 0, 0, 0.2);
  color: black;
}
.logo-circle {
  margin-left: 100px;
  margin-bottom: -10px;
  width: 100px;          /* adjust size */
  height: 100px;
  border-radius: 50%;    /* crop into circle */
  /* object-fit: cover; */
}

.logo-circle-header{
   /* margin-left: 80px;
  margin-bottom: 10px; */
  width: 60px;          /* adjust size */
  height:60px;
  border-radius: 50%;
  margin-left: 20px;
}



/* Form labels */
.form-label {
  font-weight: bold;
  color: rgb(8, 8, 8); /* so labels are visible */
  
}

/* Login text */
.login-text {
  font-size: xx-large;
  color: rgb(8, 8, 8);
  font-weight: bold;
  margin-top: 20px;
}

/* Container */
.container {
  margin-top: 20px;
}

/* Buttons */
.btn-text {
  font-weight: bold;
}

.google-btn {
  margin-bottom: 10px;
  background: rgb(8, 8, 8);
  border: none;
  /* backdrop-filter: blur(5px); */
  color: rgb(245, 239, 239);

}

.brand-title {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgba(8, 8, 8, 0.8);
  margin-left: 20px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.outlet{
  margin-left: 180px;
  margin-top:100px ;
}

.value{
  margin-bottom: 9px;
}